.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(0, 35, 102, .9);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    overflow: hidden;
    padding-left: 0;
}

.sidenav_button {
    position: absolute;
    top: 0px;
    z-index: 2;
    background-color: transparent;
    border: none;
    font-size: 50px;
    transition: 0.5s;
    color: #660000;
    margin-top: 24px;
    border-radius: 12px;
    cursor: pointer;
}

.sidenav_button-hover {
    background-color: rgba(0, 0, 0, .25);
}

.sidenav_title {
    color: white;
    margin-top: 10px;
}

.sidenav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
    white-space: nowrap;
}

.sidenav_space {
    margin-top: 30px;
}

.sidenav_space2 {
    margin-top: 100px;
}

.sidenav_separator {
    border: 0;
    clear: both;
    display: block;
    width: 85%;
    background-color: #fff;
    height: 2px;
}

.sidenav_link {
    color: #fff;
    font-size: 30px;
    cursor: pointer !important;
}

.sidenav_link :hover {
    color: #808080;
}

.sidenav_footer {
    align-self: center;
    color: #b5b5b5;
    font-size: 12px;
}