@font-face {
    font-family: 'Blox2';
    src: url('Assets/Blox2.ttf')format('truetype');
}

@font-face {
    font-family: 'KarmaFuture';
    src: url('Assets/KarmaFuture.ttf')
}

@font-face {
    font-family: 'RighteousRegular';
    src: url('Assets/Righteous-Regular.ttf');
}

.home-bg {
    width: 100vw;
    height: 100vh;
    background: rgb(102, 0, 0);
    background: linear-gradient(90deg, rgba(102, 0, 0, 1) 0%, rgba(0, 35, 102, 1) 69%);
    overflow-x: hidden;
}

.aboutmeimg {
    background-image: url(Assets/blobaboutmecover3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
    /* i cant put the img props in another css class???*/
}

.projectsimg {
    background-image: url(Assets/blobprojectscover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}

.githubimg {
    background-image: url(Assets/blobgithubcover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}

a.nostyle {
    text-decoration: inherit;
    cursor: auto;
}

a.nostyle :visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.fancyblox {
    font-family: Blox2;
}

.fancykarma {
    font-family: KarmaFuture;
}

.fancyrighteous {
    font-family: RighteousRegular;
}